* text=auto
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.mat text merge=unityyamlmerge eol=lf
*.meta text eol=lf
*.png binary
*.jpg binary
*.tga binary
*.psd binary
*.fbx binary
*.blend binary
*.wav binary
*.ogg binary
*.dll binary
*.exe binary
